
.form-container {
    color: rgb(255, 255, 255);
    display: block;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: auto;
    box-sizing: border-box;
}
input[type="text"],
input[type="nummer"],
input[type="email"],
input[type="text"] {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 10px;
}

